
<p>Name : <%= @user.first_name %><br>
Last name : <%= @user.last_name %><br>
Email : <%= @user.email %><br>
Phone : <%= @user.phone %><br>
<br>
Check in : <%= @booking.begin_date %><br>
Checkout : <%= @booking.end_date %><br>
Member or people : <%= @booking.member_of_people %></p>
