
<% content_for :title, "" %>


<!-- <h4> Valencia | Cullera Beach </h4>
-->

<% content_for(:after_js) do %>
 <%= javascript_tag do %>
   $(document).ready(function() {
     var coord = <%= raw @flat_coordinates.to_json %>;
     alert('Flat coordinates are ' + coord.lat + ', ' + coord.lng);
   });
 <% end %>
<% end %>

<div class="container">

  <div class="col-xs-12 descriptionhome">
       <h4 align="center"><%= @flat.name %></h4>
     <h5><%= @flat.baseline %></h5>
     <div class="col-md-12 descriptionhome" align="center">
        <% if @flat.name == "La Orotava" %>
          <%= link_to 'Apply to Co-owning', 'https://ksr-ugc.imgix.net/assets/020/200/124/4b73ed3d43e8560bc0e9136ebd608b7a_original.png?crop=faces&w=1024&h=576&fit=crop&v=1523469090&auto=format&q=92&s=ed882c9695a48d5648a8010f2e20b74e', class: "btn btn-yours" %>
        <% else %>
        <%= link_to 'Book here', new_flat_booking_path(@flat), class: "btn btn-yours" %>
        <% end %>

          </div>
     </div>



<div class="flat_content">
   <div class="row text-center">

      <div class="col-md-6 descriptionhome ">
      <div>
      <p><%= @flat.description %></p>
      </div>
      <div>
      <p><%= @flat.environment %></p>
    </div>
    <div>
      <p><%= @flat.status %></p>
    </div>
     </div>

     <div class="col-md-6 descriptionhome">
          <%= image_tag @flat.picture%>


     </div>
   </div>
 </div>

<div class="container">
 <div class="col-md-3 descriptionhome2">
  <%= image_tag @flat.portfolio1%>
  </div>
  <div class="col-md-3 descriptionhome2">
  <%= image_tag @flat.portfolio2%>
  </div>
  <div class="col-md-3 descriptionhome2">
  <%= image_tag @flat.portfolio3%>
  </div>
  <div class="col-md-3 descriptionhome2">
    <%= link_to image_tag("http://res.cloudinary.com/dk9kkvy1o/image/upload/v1520012998/instafollow_ax1d9g.png"), "https://www.instagram.com/spores_homes/?hl=en", target: :_blank %>
  </div>

</div>


 <div class="flat_content">
   <div class="reviews_flat" align="center">
     <div class="review-content" align="center">`
       <% @flat.reviews.each do |review| %>
         <%= render 'reviews_flat', review: review %>
       <% end %>
   <div align="center">
     <!--   <%= link_to 'Add a review', new_flat_review_path(@flat), class: "btn btn-yours"%> -->
     </div>
     </div>
   </div>
 </div>
 <div class="back_homes" align="center">
  <%= link_to 'Back to Spores Homes', flats_path, class: "btn btn-success" %>
 </div>
</div>

<!--
<% content_for(:after_js) do %>
 <%= javascript_tag do %>
 $(document).ready(function() {
 var coord = <%= raw @profile_coordinates.to_json %>;
 alert(profile.lat);
});
<% end %>
<% end %>
 -->
