<% content_for :title, "Spores - Well being and Learning Homes" %>


<div class= "banner middle-pic" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://res.cloudinary.com/dk9kkvy1o/image/upload/v1568809884/d89121e7-8a41-4582-81b5-71f72a831bf8_2_bmrqmx.jpg');">
  <div class="banner-content">
    <h1></i>Spores Homes</h1>
    <p class="big p"> Coliving and Coworking Space </p>
    <%= link_to "Start booking",'https://calendly.com/sporeshomes', class: "btn btn-yours" %>
  </div>
</div>

<!-- <div id="ytplayer"></div>

<script>
  // Load the IFrame Player API code asynchronously.
  var tag = document.createElement('script');
  tag.src = "https://www.youtube.com/player_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  // Replace the 'ytplayer' element with an <iframe> and
  // YouTube player after the API code downloads.
  var player;
  function onYouTubePlayerAPIReady() {
    player = new YT.Player('ytplayer', {
      height: '360',
      width: '100%',
      videoId: 'CWWu348ub5c'
    });
  }
</script> -->
<!-- <div class = "banner">
<iframe id="ytplayer" type="text/html" width="700" height="390"
  src="http://www.youtube.com/embed/_0iQZU_NUgc"
  frameborder="0"/> </iframe>
</div> -->
<div>
  <h5 class="bit-space"> How was your experience at Spores ? </h5>
</div>

<div class="container" id="home-giders">
 <!--  <h5 class= "text-center text-space marginn"> How was Spores' experience ? </h5> -->
  <div class="row">
  <% first_feedback = true %>
    <% @feedbacks.each do |gider| %>
      <div class="col-xs-12 col-sm-6 col-md-4 <%= 'hidden-xs' unless first_feedback.present? %>">
       <div class="testimonial">
                        <div class="pic"><%= image_tag gider[:picture] %> </div>
                        <h3 class="testimonial-title"><%= gider[:name] %></h3>
                        <small class="post"><%= gider[:location] %></small>
                        <p class="description">
                            <%= gider[:description][0..285] %>...
                        </p>
                    </div>
      </div>
    <% first_feedback = false %>
    <% end %>
  </div>
</div>

